body[b-na9dfjliwd] {
    font-family: 'Lobster';
}

div[b-na9dfjliwd] {
    border-style: solid solid solid solid;
    border-width: 1px;
    /*    background-color: blue;*/
}

.marginclass[b-na9dfjliwd] {
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.drinkview[b-na9dfjliwd] {
    font-family: 'Lobster';
    position: relative;
    color: aqua;
    height: 42.5px;
}

.DrInstructions[b-na9dfjliwd] {
    font-family: 'Lobster-Regular';
    font-size: smaller;
    color: dimgray;
    position: relative;
    height: 126px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@font-face {
    font-family: 'Lobster-Regular';
    src: url("../wwwroot/css/open-iconic/font/fonts/Lobster-Regular.ttf") format("truetype");
}