body {
}

div {
    border-style: solid solid solid solid;
    border-width: 1px;
    /*    background-color: blue;*/
}

.marginclass {
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.drinkview {
    position: relative;
    color:aqua;
    height: 42.5px;
}

.DrInstructions {
    font-size: smaller;
    color: dimgray;
    position: relative;
    height: 126px;
    text-overflow: ellipsis;
    overflow: hidden;
}