@page "/DrinkView"
@inject HttpClient Http


@using Microsoft.Extensions.Logging;
@using Blazored.Typeahead;


@inject ILoggerFactory LoggerFactory

<div class="marginclass">
    <p>strDrink</p>
    <p>@drink.strDrink</p>
</div>

@code {

    [Parameter]
    public Models.Drinks drink { get; set; }

    //protected override void OnInitialized()
    //{
    //    Pages.FetchData fetchData = new();

    //    Tobj = fetchData.Tobj;
    //}
}
