.page {
    position: relative;
    left: 16.5%;
    width: 66%;
}

@media only screen and (max-width: 600px) {
    .page {
        position: relative;
        left: 0px;
        width: 100vw;
    }
}